/*
 CSS file for Web App
 Greg Koenig
 Visual Frameworks 1302
*/

h1{
    font-family: Arial;
    font-size: 50px;
    line-height: 30px;
    text-align: center;
   
}

p{
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    
}

li{
    margin: 10px 0px 0px 30px;
    font-family: arial;
    padding: 30px, 0px,0px, 0px;
    list-style-type: none;
    
}

label{
   /* display: block; */
}

body{
    background-color: rgb(217,198,157);
}

form{
    background-color: rgb(241,231,210);
    margin: 20px;
    padding: 20px;
    border-radius:15px;
}

legend{
    font-family: arial;
    font-weight: bold; 
    font-size: 30px;
    text-align: center;
    
}

a{
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    color: black;
    text-align: center;
    
}

#submitbutton{
    float: none;
    display: block;
    width: 200px;
    margin: 20px auto 5px;
}

#notes{
    display: block;
    width: 300px;
    height: 100px;
    
}

